<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90" style="padding:50px 0;background:url('https://ww2.ufps.edu.co/public/imagenes/grid.png')" class="table table-responsive">
    <tbody>
        <tr>
            <td>
                <table width="800" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center" style="border-radius:20px">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="100%">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="100%">
                                                                                <div bgcolor="#8d8e90" style="display: flex;flex-wrap: wrap;background-image:url('https://ww2.ufps.edu.co/public/imagenes/seccion/486fa09fe5a299a14c6287d9e4691cd3.jpg'); background-size: 100% 100%;height: 150px;">
                                                                                    <div style="width: 100%;padding-top: 7px;padding-left: 10px;font-size: 16px;color: #fff;">edicion_banner</div>
                                                                                </div>
                                                                                <!--
                                                                                <div style="position: relative !important;display: inline-block !important;text-align: center !important;">
                                                                                    <a href="https://ww2.ufps.edu.co/" target="_blank" data-saferedirecturl="https://ww2.ufps.edu.co/&amp;source=gmail&amp;ust=1710280927031000&amp;usg=AOvVaw0K6YZUO3bUroti-gkq1Q7F"><img src="https://ww2.ufps.edu.co/public/imagenes/seccion/486fa09fe5a299a14c6287d9e4691cd3.jpg" style="border-radius:20px 20px 0px 0px" height="155" width="800" class="CToWUd" data-bit="iit">
                                                                                    </a>
                                                                                    <div style="position: absolute !important;top: 11% !important;left: 11% !important;transform: translate(-50%, -50%) !important;color: #ffffff !important;font-family:Verdana,Geneva,sans-serif;font-size:18px !important;">edicion_banner
                                                                                    </div>
                                                                                </div>
                                                                                -->
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="5%">&nbsp;</td>
                                            <td width="80%" align="justify" valign="top" style="font-family:Verdana,Geneva,sans-serif;color:#68696a;font-size:12px;line-height:20px">
                                                <table border="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td width="2%">&nbsp;</td>
                                                            <td>
                                                                <table border="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="100%" valign="top">
                                                                                <p style="font-family:sans-serif;font-size:14px;line-height:20px;text-align:justify">Boletín informativo dirigido a líderes de las organizaciones y aliados estratégicos de nuestra institución, comprometidos con la región. Esta es una publicación producida por el Centro de Comunicaciones y Medios Audiovisuales (CECOM) de la UFPS, que les presenta los principales hechos en un periodo de 30 días.</p>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%">&nbsp;</td>
                                                            <td>
                                                                <table border="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="43%" valign="top"><a href="url_noti_1" target="_blank" data-saferedirecturl="url_noti_1"><img style="width:100%;height:auto;border-radius:10px" src="img_noti_1" alt="imagen" class="CToWUd" data-bit="iit"></a></td>
                                                                            <td width="2%">&nbsp;</td>
                                                                            <td width="45%" valign="top">
                                                                                <h2 style="color:#aa1916;font-family:sans-serif;font-size:24px;line-height:25px;text-align:left">titulo_noti_1</h2>
                                                                                <p style="font-family:sans-serif;font-size:14px;line-height:20px;text-align:justify">resumen_noti_1</p>
                                                                                <p style="font-family:sans-serif;font-size:12px;line-height:22px;text-align:right;color:#aa1916"><a style="color:#aa1916;text-decoration:none" href="url_noti_1" target="_blank" data-saferedirecturl="url_noti_1"><b>Leer noticia completa &gt;&gt;</b></a></p>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%">&nbsp;</td>
                                                            <td>
                                                                <table border="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="45%" valign="top">
                                                                                <h2 style="color:#aa1916;font-family:sans-serif;font-size:24px;line-height:25px;text-align:left">titulo_noti_2</h2>
                                                                                <p style="font-family:sans-serif;font-size:14px;line-height:20px;text-align:justify">resumen_noti_2</p>
                                                                                <p style="font-family:sans-serif;font-size:12px;line-height:22px;text-align:right;color:#aa1916"><a style="color:#aa1916;text-decoration:none" href="url_noti_2" target="_blank" data-saferedirecturl="url_noti_2"><b>Leer noticia completa &gt;&gt;</b></a></p>
                                                                            </td>
                                                                            <td width="2%">&nbsp;</td>
                                                                            <td width="43%" valign="top"><a href="url_noti_2" target="_blank" data-saferedirecturl="url_noti_2"><img style="width:100%;height:auto;border-radius:10px" src="img_noti_2" alt="imagen" class="CToWUd" data-bit="iit"></a></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%">&nbsp;</td>
                                                            <td>
                                                                <table border="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="43%" valign="top"><a href="url_noti_3" target="_blank" data-saferedirecturl="url_noti_3"><img style="width:100%;height:auto;border-radius:10px" src="img_noti_3" alt="imagen" class="CToWUd" data-bit="iit"></a></td>
                                                                            <td width="2%">&nbsp;</td>
                                                                            <td width="45%" valign="top">
                                                                                <h2 style="color:#aa1916;font-family:sans-serif;font-size:24px;line-height:25px;text-align:left">titulo_noti_3</h2>
                                                                                <p style="font-family:sans-serif;font-size:14px;line-height:20px;text-align:justify">resumen_noti_3</p>
                                                                                <p style="font-family:sans-serif;font-size:12px;line-height:22px;text-align:right;color:#aa1916"><a style="color:#aa1916;text-decoration:none" href="url_noti_3" target="_blank" data-saferedirecturl="url_noti_3"><b>Leer noticia completa &gt;&gt;</b></a></p>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%">&nbsp;</td>
                                                            <td>
                                                                <table border="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="100%" valign="top"><a href="https://ww2.ufps.edu.co/ufps_conticgo" target="_blank" data-saferedirecturl="https://ww2.ufps.edu.co/ufps_conticgo&amp;source=gmail&amp;ust=1710280927032000&amp;usg=AOvVaw31t4sgHKOsA6kXAq0Le1RR"><img style="width:100%;height:auto" src="https://ww2.ufps.edu.co/public/imagenes/seccion/152e6e6f8b3c57f2cc6e1772bca8e9f4.jpg" alt="imagen" class="CToWUd" data-bit="iit"></a></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%">&nbsp;</td>
                                                            <td>
                                                                <table border="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="33%" valign="top"><a href="https://ww2.ufps.edu.co/uradio/" target="_blank" data-saferedirecturl="https://ww2.ufps.edu.co/uradio/&amp;source=gmail&amp;ust=1710280927032000&amp;usg=AOvVaw1BJZVVpoStAZxftSTX1d7T"><img style="width:100%;height:auto" src="https://ww2.ufps.edu.co/public/imagenes/seccion/1c328d08499edd21e6a7137a72c0ca29.jpg" alt="imagen" class="CToWUd" data-bit="iit"></a></td>
                                                                            <td width="33%" valign="top"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdKak7SIRrRkJpY6qGZifM4N3M4MQZDxvsUfAB7NFqqo6EMhA/viewform" target="_blank" data-saferedirecturl="https://docs.google.com/forms/d/e/1FAIpQLSdKak7SIRrRkJpY6qGZifM4N3M4MQZDxvsUfAB7NFqqo6EMhA/viewform&amp;source=gmail&amp;ust=1710280927032000&amp;usg=AOvVaw1NRQk0bb4MNM2Lbuow4sF3"><img style="width:100%;height:auto" src="https://ww2.ufps.edu.co/public/imagenes/seccion/4f4b8e9d5d9734df1991b1b1f3a7e9a9.jpg" alt="imagen2" class="CToWUd" data-bit="iit"></a></td>
                                                                            <td width="33%" valign="top"><a href="https://ww2.ufps.edu.co/universidad/centro_comu_ufps/1893" target="_blank" data-saferedirecturl="https://ww2.ufps.edu.co/universidad/centro_comu_ufps/1893&amp;source=gmail&amp;ust=1710280927032000&amp;usg=AOvVaw0hqDUDvT0iixVr1XlqgEv3"><img style="width:100%;height:auto" src="https://ww2.ufps.edu.co/public/imagenes/seccion/309d6fdd385883e17a8b785b23c92b81.jpg" alt="imagen3" class="CToWUd" data-bit="iit"></a></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <img src="https://divisist2.ufps.edu.co/email?id=2038991" width="0" height="0" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:WzAsMl0.">
                                                <p></p>
                                            </td>
                                            <td width="5%">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align:right;font-weight:600;font-family:Verdana,Geneva,sans-serif;color:#68696a;font-size:10px;margin-bottom:0px">Por favor no responder este correo.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" height="50px" border="0" cellspacing="0" cellpadding="0" style="background-image:url('https://ww2.ufps.edu.co/public/imagenes/seccion/0cdcfa572ef0a150fbe36c3ca1e26d45.png');background-size:100% 83px">
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="5%">&nbsp;</td>
                                            <td width="1%"><a href="https://www.facebook.com/UFPS-C%C3%BAcuta-553833261409690" target="_blank" data-saferedirecturl="https://www.facebook.com/UFPS-C%25C3%25BAcuta-553833261409690&amp;source=gmail&amp;ust=1710280927032000&amp;usg=AOvVaw1nuuPt4muzP6Lx8HRU-l17"><img src="https://ww2.ufps.edu.co/public/imagenes/seccion/4074ddb7112452dc5847322bdc6904ee.png" alt="facebook" width="30" height="30" border="0" class="CToWUd" data-bit="iit"></a></td>
                                            <td width="8%">
                                                <p style="font-family:Verdana,Geneva,sans-serif;color:#68696a;font-size:12px">
                                                    UFPS Cúcuta
                                                </p>
                                            </td>
                                            <td width="1%"><a href="https://twitter.com/UFPSCUCUTA" target="_blank" data-saferedirecturl="https://twitter.com/UFPSCUCUTA&amp;source=gmail&amp;ust=1710280927032000&amp;usg=AOvVaw2N0r4WxEG8-eGQlUWBx7A0"><img src="https://ww2.ufps.edu.co/public/imagenes/seccion/769dd93feb538932f318ed07c6922232.png" alt="twitter" width="30" height="30" border="0" class="CToWUd" data-bit="iit"></a></td>
                                            <td width="3%">
                                                <p style="font-family:Verdana,Geneva,sans-serif;color:#68696a;font-size:12px">
                                                    @UFPSCÚCUTA
                                                </p>
                                            </td>
                                            <td width="1%"><a href="https://www.youtube.com/channel/UCgPz-qqaAk4lbHfr0XH3k2g" target="_blank" data-saferedirecturl="https://www.youtube.com/channel/UCgPz-qqaAk4lbHfr0XH3k2g&amp;source=gmail&amp;ust=1710280927032000&amp;usg=AOvVaw3yVD63P9kwcBNrTL2RBgrV"><img src="https://ww2.ufps.edu.co/public/imagenes/seccion/351bed0ebd2e4836775883627751df29.png" alt="youtube" width="30" height="30" border="0" class="CToWUd" data-bit="iit"></a></td>
                                            <td width="3%">
                                                <p style="font-family:Verdana,Geneva,sans-serif;color:#68696a;font-size:12px">
                                                    UFPSCÚCUTATV
                                                </p>
                                            </td>
                                            <td width="1%"><a href="https://www.instagram.com/ufpscucuta/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/ufpscucuta/&amp;source=gmail&amp;ust=1710280927033000&amp;usg=AOvVaw3f8mjhtGM3jvjWLuISOd8j"><img src="https://ww2.ufps.edu.co/public/imagenes/seccion/e065790a683ae4bd97988e2e53d889a6.png" alt="instagram" width="30" height="30" border="0" class="CToWUd" data-bit="iit"></a></td>
                                            <td width="3%">
                                                <p style="font-family:Verdana,Geneva,sans-serif;color:#68696a;font-size:12px">
                                                    @UFPSCÚCUTA
                                                </p>
                                            </td>
                                            <td width="1%"><a href="http://www.ufps.edu.co/emisora/player.php" target="_blank" data-saferedirecturl="http://www.ufps.edu.co/emisora/player.php&amp;source=gmail&amp;ust=1710280927033000&amp;usg=AOvVaw2_J_gCDnywmmVjfTSK0f7F"><img src="https://ww2.ufps.edu.co/public/imagenes/seccion/c102cfcc600357b88788ff33e977e453.png" alt="ufps-radio" width="30" height="30" border="0" class="CToWUd" data-bit="iit"></a></td>
                                            <td width="12%">
                                                <p style="font-family:Verdana,Geneva,sans-serif;color:#68696a;font-size:12px">
                                                    UFPS Radio 95.2 FM
                                                </p>
                                            </td>
                                            <td width="5%">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="50%" align="right">
                                                <font style="font-family:'Myriad Pro',Helvetica,Arial,sans-serif;color:#7b7f81;font-size:8px">
                                                <strong>Developer: VAVM - WABR</strong></font>
                                            </td>
                                            <td width="5%" align="right">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>